.x-portal .x-panel-dd-spacer {
    margin-bottom:10px;
}

.x-portlet {
    margin-bottom:10px;
}

.x-portal-mask-loading {
    display:none;
}

/* Clean up the look of the portlets */
.x-portlet .x-panel-ml {
    padding-left:2px;
}
.x-portlet .x-panel-mr {
    padding-right:2px;
}
.x-portlet .x-panel-bl {
    padding-left:2px;
}

.x-portlet .x-panel-br {
    padding-right:2px;
}
.x-portlet .x-panel-body {
    background:white;
}
.x-portlet .x-panel-mc {
    padding-top:2px;
}
.x-portlet .x-panel-bc .x-panel-footer {
    padding-bottom:2px;
}
.x-portlet .x-panel-nofooter .x-panel-bc {
    height:2px;
}

/* CHANEL
************************************************************/
/*
body {
    font-family:tahoma;
    background-color:black;
}

*/
#header {
    background-color:black;
    height:60px;
    color:white;
}

#header #logo {
    float:right;
    margin-right:20px;
}

#header #tools {
    float:left;
}

#header #tools .tool {
    float:left;
    height:60px;
    width:100px;
    cursor:pointer;
}

#header #tools #quick-access {
    background:url("../img/icons/quickAccess_off.jpg") no-repeat scroll 0 0 transparent;
}

#header #tools #add-widget {
    background:url("../img/icons/addWidget_off.jpg") no-repeat scroll 0 0 transparent;
}

#header #tools #settings {
    background:url("../img/icons/settings_off.jpg") no-repeat scroll 0 0 transparent;
}

#header #tools #quick-access:hover, #header #tools #quick-access.pressed {
    background:url("../img/icons/quickAccess_on.jpg") no-repeat scroll 0 0 transparent;
}

#header #tools #add-widget:hover, #header #tools #add-widget.pressed {
    background:url("../img/icons/addWidget_on.jpg") no-repeat scroll 0 0 transparent;
}

#header #tools #settings:hover, #header #tools #settings.pressed {
    background:url("../img/icons/settings_on.jpg") no-repeat scroll 0 0 transparent;
}
/*
.x-btn-text.selected {
    color:#FFFFFF;
}

.chanel-widget-panel {
    background:url("../img/template/fond_zoneWidget_empty.jpg") repeat-x scroll 0 0 transparent;
    border-top:1px solid #777777 !important;
}

.chanel-filters-panel {
    background:url("../img/template/fond_zoneWidget_filters.jpg") repeat-x scroll 0 bottom transparent;
}

.chanel-filters-panel label {
    color:#ACACAC;
    font-size:11px;
    margin-top:-1px;
}

.chanel-filters-panel table {
x    margin-left: 15px;
    margin-top: -10px;
}

ul.x-tab-strip li {
    float: left;
    font-family: tahoma;
    font-size: 13px;
    margin-left: 2px;
}

.x-tab-strip-top .x-tab-right {
    color:black;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
    background-color: black;
    margin-bottom: -1px;
    color:#C5C95A;
    -moz-border-radius: 3px 3px 0 0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
    background-color: black;
    border-width: 0 0 1px;
}

.x-tab-strip-wrap {
    background-color:#FFFFFF;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top:20px;
    background:url("../img/template/bande_hachures.gif") repeat-x scroll 0 0 white;
}

.x-portlet {
    -moz-border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: -1px 2px 3px #666666;
    border: 1px solid black;
    margin-bottom: 10px;
}

.x-panel-tl {
    background:url("../img/template/fondHautWidget.jpg") repeat-x scroll 0 0 #000000;
    border-bottom: 1px solid;
    color:#000000;
    font-family: tahoma;
    font-size: 14px;
    padding-bottom: 2px;
    padding-left: 6px;
}

.x-tab-panel-header {
    border:0 solid !important;
    border-style:none none none !important;
    border-width:0 !important;
}

.x-portlet .x-tool {
    margin-left:0px;
    width:28px;
    height:28px;
}

.x-portlet .x-panel-header {
    padding:0;
}

.x-portlet .x-panel-header-text {
    display: block;
    font-weight: bold;
    margin: 5px 0 0 5px;
}

.x-portlet .x-panel-tr, .x-portlet .x-panel-tl {
    padding:0;
}

.x-tool-close {
    background:url("../img/template/picto_fermer_off.jpg") no-repeat scroll 0 0 transparent;
}

.x-tool-close-over {
    background:url("../img/template/picto_fermer_on.jpg") no-repeat scroll 0 0 transparent;
}

.x-tool-maximize {
    background:url("../img/template/picto_agrandir_off.jpg") no-repeat scroll 0 0 transparent;
}

.x-tool-maximize-over {
    background:url("../img/template/picto_agrandir_on.jpg") no-repeat scroll 0 0 transparent;
}

.x-tool-toggle {
    background:url("../img/template/picto_reduire_off.jpg") no-repeat scroll 0 0 transparent;
}

.x-tool-toggle-over {
    background:url("../img/template/picto_reduire_on.jpg") no-repeat scroll 0 0 transparent;
}

.x-panel-collapsed .x-tool-toggle {
    background-position: 0 0;
}

.x-window-tl {
    background-color:#222222;
    color:white;
    -moz-border-radius: 3px 3px 0 0;
}

.x-window-mc {
    border: 1px solid #CCCCCC;
}

.x-window-bwrap {
    background-color:#222222;
    -moz-border-radius: 0 0 3px 3px;
}

.ext-el-mask {
    background-color:black;
}

.x-window-body {
    background-color:#AAAAAA;
}

.widget-window {
    padding-left:70px;
}

.widget-window-info {
    color: #444444;
    font-size: 11px;
}

.x-shadow {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: black;
    opacity: 0.1;
}

.green-button {
    cursor:pointer;
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: green;
    border: 1px solid darkgreen;
    color: white;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
    width: 190px;
    padding: 2px 0;
    left: -40px;
    position:relative;
}

.group-link {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #333333;
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 2px 2px 5px 6px;
    width: 80px;
    cursor:pointer;
}
*/


/* ICONS
************************************************************/

.icon-column-1 {
    background:url("../img/column_1.png") no-repeat scroll 0 0 transparent !important;
}

.icon-column-2 {
    background:url("../img/column_2.png") no-repeat scroll 0 0 transparent !important;
}

.icon-column-3 {
    background:url("../img/column_3.png") no-repeat scroll 0 0 transparent !important;
}

.icon-widgets {
    background:url("../img/3x3_grid_black.png") no-repeat scroll 6px 4px transparent !important;
}

.icon-settings {
    background:url("../img/cog_black.png") no-repeat scroll 6px 4px transparent !important;
}

.icon-zoom {
    background:url("../img/zoom_black.png") no-repeat scroll 6px 4px transparent !important;
}

.icon-widgets.pressed {
    background:url("../img/3x3_grid_white.png") no-repeat scroll 6px 4px black !important;
}

.icon-settings.pressed {
    background:url("../img/cog_white.png") no-repeat scroll 6px 4px black !important;
}

.icon-zoom.pressed {
    background:url("../img/zoom_white.png") no-repeat scroll 6px 4px black !important;
}
